<div id="<%= dom_id configuracao %>">
  <p>
    <strong>Servico urbano por atributo:</strong>
    <%= configuracao.servico_urbano_por_atributo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= configuracao.descricao %>
  </p>

  <p>
    <strong>Servicos urbanos:</strong>
    <%= configuracao.servicos_urbanos_id %>
  </p>

  <p>
    <strong>Bigint:</strong>
    <%= configuracao.bigint %>
  </p>

  <p>
    <strong>Fator:</strong>
    <%= configuracao.fator %>
  </p>

</div>
